################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PetServiceManagementSystem
/.vs/ProjectEvaluation
/docker
# Ignore build and debug files
*.dll
*.pdb
*.exe
*.json
*.cache
/Server.API/bin/Release/net8.0/linux-x64/Server.API
/.vs/slnx.sqlite
/.vs/PetServicePlatform/v17/.wsuo
/.vs/PetServicePlatform/FileContentIndex/4b2a698d-a67b-4720-be56-6830fd3fbd4f.vsidx
/Server.API/obj/Debug/net8.0/Server.API.AssemblyInfo.cs
/Server.API/obj/Debug/net8.0/Server.API.csproj.BuildWithSkipAnalyzers
/Server.API/obj/Debug/net8.0/Server.API.csproj.FileListAbsolute.txt
/Server.API/obj/Debug/net8.0/Server.API.csproj.Up2Date
/Server.API/obj/Debug/net8.0/Server.API.GeneratedMSBuildEditorConfig.editorconfig
/Server.API/obj/Debug/net8.0/Server.API.GlobalUsings.g.cs
/Server.API/obj/Debug/net8.0/Server.API.MvcApplicationPartsAssemblyInfo.cs
/Server.API/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Server.API/obj/Release/net8.0/linux-x64/PubTmp/Server.API-20241013164224533.zip
/Server.API/obj/Release/net8.0/linux-x64/PubTmp/Server.API-20241013164534616.zip
/Server.API/obj/Release/net8.0/linux-x64/PubTmp/Server.API-20241014081505123.zip
/Server.API/obj/Release/net8.0/linux-x64/PubTmp/Server.API-20241014082357735.zip
/Server.API/obj/Release/net8.0/linux-x64/PubTmp/Server.API-20241014084224152.zip
/Server.API/obj/Release/net8.0/linux-x64/PubTmp/Server.API-20241014085404629.zip
/Server.API/obj/Release/net8.0/linux-x64/PubTmp/Server.API-20241014085733041.zip
/Server.API/obj/Release/net8.0/linux-x64/PubTmp/Server.API-20241014093832211.zip
/Server.API/obj/Release/net8.0/linux-x64/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/Server.API/obj/Release/net8.0/linux-x64/apphost
/Server.API/obj/Release/net8.0/linux-x64/PublishOutputs.e07ca07604.txt
/Server.API/obj/Release/net8.0/linux-x64/Server.API.AssemblyInfo.cs
/Server.API/obj/Release/net8.0/linux-x64/Server.API.csproj.FileListAbsolute.txt
/Server.API/obj/Release/net8.0/linux-x64/Server.API.csproj.Up2Date
/Server.API/obj/Release/net8.0/linux-x64/Server.API.GeneratedMSBuildEditorConfig.editorconfig
/Server.API/obj/Release/net8.0/linux-x64/Server.API.GlobalUsings.g.cs
/Server.API/obj/Release/net8.0/linux-x64/Server.API.MvcApplicationPartsAssemblyInfo.cs
/Server.API/obj/Release/net8.0/PubTmp/Out/web.config
/Server.API/obj/Release/net8.0/PubTmp/Server.API.Parameters.xml
/Server.API/obj/Release/net8.0/PubTmp/Server.API.SourceManifest.xml
/Server.API/obj/Release/net8.0/staticwebassets
/Server.API/obj
# Ignore build output folders
/Release/
/bin/
/obj/
