################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PetServiceManagementSystem
/.vs/ProjectEvaluation
/docker
# Ignore build and debug files
*.dll
*.pdb
*.exe
*.json
*.cache