<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/ae6fa0e5-906d-4c7a-8913-e90c48a6bfe7/resourceGroups/perserviceplatform_group/providers/Microsoft.Web/sites/perserviceplatform</ResourceId>
    <ResourceGroup>perserviceplatform_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://perserviceplatform-gsfegwf3feeze4f6.southeastasia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6d261012-5382-4899-992c-3cc466845804</ProjectGuid>
    <PublishUrl>https://perserviceplatform-gsfegwf3feeze4f6.scm.southeastasia-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <ApiResourceId>/subscriptions/ae6fa0e5-906d-4c7a-8913-e90c48a6bfe7/resourceGroups/perserviceplatform_group/providers/Microsoft.ApiManagement/service/petserviceplatformapi/apis/ServerAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
  </PropertyGroup>
</Project>