<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
	<PropertyGroup>
		<WebPublishMethod>ZipDeploy</WebPublishMethod>
		<IsLinux>true</IsLinux>
		<RuntimeIdentifier>linux-x64</RuntimeIdentifier>
		<SiteUrlToLaunchAfterPublish>https://perserviceplatform-gsfegwf3feeze4f6.southeastasia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<PublishUrl>https://perserviceplatform-gsfegwf3feeze4f6.scm.southeastasia-01.azurewebsites.net/</PublishUrl>
		<ResourceId>/subscriptions/ae6fa0e5-906d-4c7a-8913-e90c48a6bfe7/resourceGroups/perserviceplatform_group/providers/Microsoft.Web/sites/perserviceplatform</ResourceId>
		<ResourceGroup>perserviceplatform_group</ResourceGroup>
		<ProjectGuid>6d261012-5382-4899-992c-3cc466845804</ProjectGuid>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<_SavePWD>false</_SavePWD>
		<ApiResourceId>/subscriptions/ae6fa0e5-906d-4c7a-8913-e90c48a6bfe7/resourceGroups/perserviceplatform_group/providers/Microsoft.ApiManagement/service/petserviceplatformapi/apis/ServerAPI</ApiResourceId>
		<OpenApiDocumentName>v1</OpenApiDocumentName>
		<UpdateApiOnPublish>true</UpdateApiOnPublish>
	</PropertyGroup>
</Project>
