<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ae6fa0e5-906d-4c7a-8913-e90c48a6bfe7/resourceGroups/swd/providers/Microsoft.Web/sites/PetServicePlatform</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://petserviceplatform-dpgyc0c3fcg9dtc7.southeastasia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>6d261012-5382-4899-992c-3cc466845804</ProjectGuid>
    <PublishUrl>https://petserviceplatform-dpgyc0c3fcg9dtc7.scm.southeastasia-01.azurewebsites.net/</PublishUrl>
    <UserName>$PetServicePlatform</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>